html {
    box-sizing: border-box;
    height: 100%;
}

body {
    height: 100%;
}
.main-container {
    height: 100%;
}

.square-red {
    height: 10em;
    width: 10em;
    background-color: #F00;
    opacity: 30%;
}

.square-green {
    height: 10em;
    width: 10em;
    background-color: #0F0;
    opacity: 30%;
}

.square-blue {
    height: 10em;
    width: 10em;
    background-color: #00F;
    opacity: 30%;
}

.square-yellow {
    height: 10em;
    width: 10em;
    background-color: #FF0;
    opacity: 30%;
}

.container {
    width: 50%
}

.outer-square {
    border: .5em solid lightgrey;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.r-g {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: auto;
}
.b-y {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-right: auto;

}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;

}


h1 {
    text-align: center;
}