html {
    box-sizing: border-box;
    height: 100%;
}
@font-face {
    font-family: SpaceFont;
    src: url("SpaceFont2.ttf");
}
body {
    height: 100%;
}
/*#background {*/
/*}*/

.colorButton {
    height: 150px;
    width: 150px;
    opacity: 50%;
    padding: 15px 25px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

button:focus {outline:0;}

.button:hover {background-color: #3e8e41}

.colorButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#red {
    background-color: #F00;
}
#green {
    background-color: #0F0;
}

#blue {
    background-color: #00F;
}

#yellow {
    background-color: #FF0;
}

.container {
    font-family: SpaceFont;
    color: white;
}

h1 {
    text-align: center;
}

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
    text-shadow: 10px 10px 20px 20px black;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('star-bg.jpg') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}

@keyframes pulse {
    from {
        box-shadow: 0 0 0 0 rgba(3,149,229,.4)
    }
    to {
        box-shadow: 0 0 0 45px rgba(3,149,229,0)
    }
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #222;
}

.myButton {
    box-shadow: 3px 4px 0px 0px black;
    background:linear-gradient(to bottom, lightseagreen 5%, black 100%);
    background-color: black;
    border-radius:18px;
    border:1px solid black;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:SpaceFont;
    font-size:17px;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px lightseagreen;
}
.myButton:hover {
    background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
    background-color:#f24437;
}
.myButton:active {
    position:relative;
    top:1px;
}

