.square-red {
    height: 10em;
    width: 10em;
    margin: .5em;
    background-color: #F00;
    opacity: 60%;
}

.square-green {
    height: 10em;
    width: 10em;
    margin: .5em;
    background-color: #0F0;
    opacity: 60%;
}

.square-blue {
    height: 10em;
    width: 10em;
    margin: .5em;
    background-color: #00F;
    opacity: 60%;
}

.square-yellow {
    height: 10em;
    width: 10em;
    margin: .5em;
    background-color: #FF0;
    opacity: 60%;
}

.outer-square {
    border: 1em solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.r-g {
    display: flex;
    flex-direction: column;
}
.b-y {
    display: flex;
    flex-direction: column;
}


h1 {
    text-align: center;
}